.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background: salmon;
    position: relative;
    top: 70px;
    // Setup Snap Scrolling
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // For firefox
    &::-webkit-scrollbar {
      display: none;
    } // For other browsers (Chrome, safari)
    // Setup Snap Scrolling

    // For Each Element inside sections
    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      // Setup Snap Scrolling
      scroll-snap-align: start;
      // Setup Snap Scrolling
    }
  }
}
