.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background: salmon;
    position: relative;
    top: 70px;

    // For Each Element inside sections
    > * {
      width: 100vw;
      height: calc(100vh - 70px);
    }
  }
}
